*{
    border:0px;
    padding:0px;
    margin:0px;
}
nav{
    border:2px solid black;
    display: flex;
}
.left{
    border:2px solid blue;
    width:55vw;
    padding:15px
}
.right{
    border:5px solid green;
    width:45vw;
}
.right_image{
    width:100%;
    height:100%;
}
.logo{
    
}
.left_top{
    border:5px solid pink;
    display: flex;
    align-items: center;
    padding:35px 30px;
    justify-content: space-between;
}
.left_center{
    border:5px solid pink;
}
.left_center>h1{
    font-size: 50px;
}
.left_center>p{
    font-size: 20px;
}
.left_center>.text{
    display: inline-block;
    width:100%;
    border:5px solid blue;
}
.buttons{
    display : flex;
    gap:5px;
}
.buttons>.signup{
  background-color: black;
  color: white;
}
.buttons>.login{
    background-color: inherit;
    color:black;
}
.buttons>.login:hover{
    
    color: #f28523;
  }  
button{
    height: 40px;
    width:110px;
}